{% extends 'base.html.twig' %}

{% block title %}Souris index{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <div>Vous n'avez pas accès à cette page.</div>
    {% else %}

        <h1>Souris index</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marque</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Connectivite</th>
                    <th>NbBoutons</th>
                    <th>Images</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for souri in souris %}
                <tr>
                    <td>{{ souri.id }}</td>
                    <td>{{ souri.marque }}</td>
                    <td>{{ souri.nom }}</td>
                    <td>{{ souri.prix }}</td>
                    <td>{{ souri.description }}</td>
                    <td>{{ souri.stock }}</td>
                    <td>{{ souri.status.value }}</td>
                    <td>{{ souri.connectivite }}</td>
                    <td>{{ souri.NbBoutons }}</td>
                    <td>
                        {% if souri.images is empty %}
                            <span class="text-danger">Aucune image</span>
                        {% else %}
                            <div style="display: flex; gap: 5px;">
                                {% for image in souri.images %}
                                    <img src="{{ asset('uploads/' ~ souri.url) }}"
                                         alt="Image de la souri {{ souri.nom }}" 
                                         style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;"
                                    >
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_souris_show', {'id': souri.id}) }}">afficher</a>
                        <a href="{{ path('app_souris_edit', {'id': souri.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucune souris trouvée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_souris_new') }}">Créer une nouvelle souri</a>

    {% endif %}
{% endblock %}
