{% extends 'base.html.twig' %}

{% block title %}{{ titre }}{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ titre }}</h1>

    <div class="row">
        <div class="col-md-6">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                
                <button type="submit" class="btn btn-success mt-3">
                    {% trans %}texte_btn_enregistrer{% endtrans %}
                </button>
                <a href="{{ path('app_compte') }}" class="btn btn-secondary mt-3">
                    {% trans %}btn_annuler{% endtrans %}
                </a>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}