{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}

<h1>Liste des Produits</h1>

<h2>Claviers</h2>
{% if claviers is empty %}
    <p>Aucun clavier disponible.</p>
{% else %}
    <div class="produits-container">
        {% for clavier in claviers %}
            <a href="{{ path('app_clavier_affichage', {'id': clavier.id}) }}" class="lien-carte">
            <div class="produit-card">
                <h3>{{ clavier.marque }}</h3>
                {% if clavier.images is empty %}
                <div class="mb-2">
                    <span class="text-danger">Aucune image</span>
                </div>
                {% else %}
                    {% set image1 = clavier.images[0] %}
                    {% set image2 = clavier.images[1] ?? null %}
                    <div class="image-wrapper">
                        <img src="{{ asset('uploads/' ~ image1.url) }}" 
                            alt="{{ clavier.nom }}"
                            class="img-main"
                        >
                        {% if image2 %}
                            <img src="{{ asset('uploads/' ~ image2.url) }}" 
                                alt="{{ clavier.nom }} hover"
                                class="img-hover"
                            >
                        {% endif %}
                    </div>
                {% endif %}
                <p>Nom : {{ clavier.nom }}</p>
                <p>Prix : {{ clavier.prix }} €</p>
            </div>
        {% endfor %}
    </div>
{% endif %}

<hr>

<h2>Souris</h2>
{% if souris is empty %}
    <p>Aucune souris disponible.</p>
{% else %}
    <div class="produits-container">
        {% for souri in souris %}
            <a href="{{ path('app_souris_affichage', {'id': souri.id}) }}" class="lien-carte">
            <div class="produit-card">
                <h3>{{ souri.marque }}</h3>
                {% if souri.images is empty %}
                <div class="mb-2">
                    <span class="text-danger">Aucune image</span>
                </div>
                {% else %}
                    {% set image1 = souri.images[0] %}
                    {% set image2 = souri.images[1] ?? null %}
                    <div class="image-wrapper">
                        <img src="{{ asset('uploads/' ~ image1.url) }}" 
                            alt="{{ souri.nom }}"
                            class="img-main"
                        >
                        {% if image2 %}
                            <img src="{{ asset('uploads/' ~ image2.url) }}" 
                                alt="{{ souri.nom }} hover"
                                class="img-hover"
                            >
                        {% endif %}
                    </div>
                {% endif %}
                <p>Nom : {{ souri.nom }}</p>
                <p>Prix : {{ souri.prix }} €</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
