<header class="site-header">
    <div class="header-container">
        <a href="{{ path('accueil') }}"  class="lien"> <h1 class="site-title">MonSuperSite</h1> </a>

        <a href="{{ path('app_liste_produits') }}" class="lien">{% trans %}header_lien_produits{% endtrans %}</a>

        <a href="{{ path('app_search') }}" class="lien">{% trans %}header_lien_recherche{% endtrans %}</a>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    {% trans %}header_lien_gestion_produits{% endtrans %}
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ path('app_clavier_index') }}">{% trans %}header_dropdown_clavier{% endtrans %}</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_souris_index') }}">{% trans %}header_dropdown_souris{% endtrans %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_admin_utilisateur_index') }}">{% trans %}header_dropdown_users{% endtrans %}</a></li>
                </ul>
            </div>
        {% endif %}

        {% set route = app.request.attributes.get('_route') %}
        {% set route_params = app.request.attributes.get('_route_params') %}

        {% if app.user %}
            <a href="{{ path('app_panier_index') }}" class="lien position-relative">
                {% trans %}header_lien_panier{% endtrans %}
                
                {# (Optionnel) Badge si vous voulez le nombre d'articles #}
                {# Il faudrait injecter le CartService globalement ou utiliser une variable de session #}
            </a>
        {% endif %}

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle lien" href="#" data-bs-toggle="dropdown">
                {{ app.request.locale|upper }}
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{{ path(route, route_params|merge({'_locale': 'fr'})) }}">
                        {% trans %}header_btn_francais{% endtrans %}
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{{ path(route, route_params|merge({'_locale': 'en'})) }}">
                        {% trans %}header_btn_anglais{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>

        {% if app.user %}
            <a href="{{ path('app_compte') }}" class="login-btn">{% trans %}titre_compte{% endtrans %}</a>
        {% else %}
            {% if route == 'app_login' %}
                {% if app.user %}
                    <a href="{{ path('app_compte') }}" class="login-btn">{% trans %}titre_compte{% endtrans %}</a>
                {% else %}
                    <a href="{{ path('app_register') }}" class="login-btn">{% trans %}header_btn_inscription{% endtrans %}</a>
                {% endif %}
            {% elseif route == 'app_register' %}
                <a href="{{ path('app_login') }}" class="login-btn">{% trans %}header_btn_connexion{% endtrans %}</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="login-btn">{% trans %}header_btn_connexion{% endtrans %}</a>
            {% endif %}
        {% endif %}
    </div>
</header>
