{% extends 'base.html.twig' %}

{% block title %}{% trans %}titre_index_clavier{% endtrans %}{% endblock %}

{% block body %}

    {% if not is_granted('ROLE_ADMIN') %}
        <div>{% trans %}msg_acces_page_invalide{% endtrans %}</div>
    {% else %}

        <h1>{% trans %}titre_index_clavier{% endtrans %}</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>{% trans %}index_clavier_id{% endtrans %}</th>
                    <th>{% trans %}index_clavier_marque{% endtrans %}</th>
                    <th>{% trans %}index_clavier_nom{% endtrans %}</th>
                    <th>{% trans %}index_clavier_prix{% endtrans %}</th>
                    <th>{% trans %}index_clavier_description{% endtrans %}</th>
                    <th>{% trans %}index_clavier_stock{% endtrans %}</th>
                    <th>{% trans %}index_clavier_status{% endtrans %}</th>
                    <th>{% trans %}index_clavier_switch{% endtrans %}</th>
                    <th>{% trans %}index_clavier_language{% endtrans %}</th>
                    <th>{% trans %}index_clavier_images{% endtrans %}</th>
                    <th>{% trans %}index_clavier_actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for clavier in claviers %}
                <tr>
                    <td>{{ clavier.id }}</td>
                    <td>{{ clavier.marque }}</td>
                    <td>{{ clavier.nom }}</td>
                    <td>{{ clavier.prix }}</td>
                    <td>{{ clavier.description }}</td>
                    <td>{{ clavier.stock }}</td>
                    <td>{{ clavier.status.value }}</td>
                    <td>{{ clavier.switch }}</td>
                    <td>{{ clavier.language }}</td>
                    <td>
                        {% if clavier.images is empty %}
                            <span class="text-danger">{% trans %}texte_warning_aucune_img{% endtrans %}</span>
                        {% else %}
                            <div style="display: flex; gap: 5px;">
                                {% for image in clavier.images %}
                                    <img src="{{ asset('uploads/' ~ image.url) }}"
                                         alt="Image du clavier {{ clavier.nom }}" 
                                         style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;"
                                    >
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_clavier_show', {'id': clavier.id}) }}">{% trans %}texte_btn_afficher{% endtrans %}</a>
                        <a href="{{ path('app_clavier_edit', {'id': clavier.id}) }}">{% trans %}texte_btn_modifier{% endtrans %}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">{% trans %}texte_warning_aucun_clavier{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_clavier_new') }}">{% trans %}texte_btn_creer_clavier{% endtrans %}</a>

    {% endif %}

{% endblock %}
